/* General Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container */

.main-container {
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* Top Bar */
.top-bar {
  padding: 1rem 1rem 0 1rem;
}

.top-bar p {
  float: right;
}

/* Content Container */

 .content-container,
 .main {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 /* Quiz Intro */

 .quiz-intro { 
  height: 50vh;
  text-align: center;
 }

 .quiz-intro h1 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
 }

 .quiz-intro p {
  line-height: 1.25em;
  padding-bottom: 1rem;
  font-size: 1.15rem;
 }

 .quiz-intro button {
  display: block;
  margin: auto;
 }

 .begin-button,
 .submit-button,
 .back-button,
 .clear-button {
  color: white;
  background-color: purple;
  border-style: none;
  padding: 10px;
  width: auto;
  height: auto;
  border-radius: 8px;
  font-size: 1rem;
 }

 /* Question Screen */

 .question-screen {
  display: none;
  height: 50vh;
 }

 .question-screen h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
 }

 .question-screen li{
  list-style: none;
  margin-top: 8px;
  margin-bottom: 8px; 
 }

 .answer-button {
  color: white; 
  background-color: purple;
  border-style: none;
  width: 120px;
  height: 36px;
  border-radius: 8px;
  font-size: 1rem;
 }

 .check {
  display: none;
  border-top: 1px solid black;
  margin-top: 1.25rem;
 }

 .check p {
  font-size: 1.3rem;
  margin-top: 5px;
 }

 /* Finish Screen */

 .finish-screen {
  display: none;
  height: 50vh;
 }

 .finish-screen h2,
 .highscore-screen h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
 }

 .finish-screen p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
 }

 /* High score Screen */

 .highscore-screen {
  height: 50vh;
 }

 .highscore-screen ol {
  margin-bottom: 1rem;
 }

 .highscore-screen li {
  margin-left: 1.3rem;
 }


